@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/*---Navigation Bar---*/

.navbar {
    background-color: #14213D;
    text-transform: capitalize;
}

.navbar-brand img {
    height: 52px;
}

.dropdown-menu, li {
    margin: auto;
}

.navbar-toggler {
    border-color: rgba(229, 229, 229, 0.75);
}

.nav-link {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: #E5E5E5;
}


a:hover {
    color: #fca311;
}

.current {
    color: #FCA311;
}

.current:hover {
    color: rgba(252, 163, 17, 0.85);
    transition: 0.35s;
}

/*---General Colors---*/



/*---Footer---*/

footer {
    background-color: #14213D;
    font-family: "Rubik" ,sans-serif;
    color: rgba(229, 229, 229,0.75);
    padding: 2rem 2rem .5rem;
}


/*---Copyright Text---*/

.copyright-text {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 16px;
    display: block;
    text-align: center;
    font-size: 8px;
    font-weight: 300;
}

/*---Footer Navigation---*/


.footer-navigation {
    color:  rgba(229, 229, 229,0.75);
    margin-top: 15px;
}


.list-unstyled li a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(229, 229, 229, 0.75);
}

.list-unstyled a:hover {
    color: #FCA311;
    transition: 0.35s;
}


/*---Social Link section---*/


.social-links i {
    padding: .6rem;
    transition: 0.35s;
}

.fa-facebook-square {
    color: #5373b8;
}

.fa-twitter {
    color: #00acee;
}

          /* Googled the instagram gradient. Played with the hover settings to make it change myself. */


.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #d6249f 0%, #285AEB 5%, #fd5949 45%, #d6249f 60%, #fdf497 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
    color: #fa4943;
}

.social-links i:hover {
    transition: 0.35s;
    opacity: 0.7;
    cursor: pointer;
}

.newsletter {
    max-width: 280px;
    margin: auto;
}

/*---Newsletter CTA---*/


.newsletter button {
    display: inline;
    padding: 4px 16px;
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #fca311;
    border-bottom: 3px;
    border-radius: 6px;
    box-shadow: 0 3px #999;
}

.newsletter button:hover {
    color: #fca311;
    background-color: #fff;
    transition: 0.35s;
}

.button:active {
  background-color: #FCA311;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*---Contact Page---*/

.contact-page {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contact-page img {
    width: 100%;
    min-width: 500px;
    height: auto;
    display: block;
}

.contact-form {
    width: 90%;
    position: absolute;
    color: rgba(229, 229, 229, 0.75);
    background: rgba(0, 0, 0, 0.3);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 12px #3d3d3d;
}

.contact-button {
    display: inline;
    padding: 4px 16px;
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #fca311;
    border-bottom: 3px;
    border-radius: 6px;
    box-shadow: 0 3px #999;
}

.bg-input {
    background: rgba(0, 0, 0, 0.6);
}


/*---About Page---*/

.about-img {
    margin: 0;
    padding: 0;
}

.about-img img {
    width: 170%;
    height: auto;
}

.about-text {
    width: 90%;
    position: absolute;
    color: rgba(229, 229, 229, 0.75);
    background: rgba(0, 0, 0, 0.7);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 12px #3d3d3d;
}

.about-text h3 {
    padding: 8px;
}



/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }